In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
620,tt0443649,105000000,266000000,"10,000 BC",Steven Strait|Camilla Belle|Cliff Curtis|Natha...,Roland Emmerich,The legend. The battle. The first hero.,A prehistoric epic that follows a young mammot...,109,Adventure|Action|Drama|Fantasy,Centropolis Entertainment|Legendary Pictures|W...,2/22/2008,5.2,2008
31,tt2848292,29000000,287506194,Pitch Perfect 2,Anna Kendrick|Rebel Wilson|Hailee Steinfeld|Br...,Elizabeth Banks,We're back pitches,"The Bellas are back, and they are better than ...",115,Comedy|Music,Universal Pictures|Gold Circle Films|Brownston...,5/7/2015,6.8,2015
373,tt0947798,13000000,327803731,Black Swan,Natalie Portman|Mila Kunis|Vincent Cassel|Barb...,Darren Aronofsky,"In the era of personal branding, the scariest ...","A ballet dancer wins the lead in ""Swan Lake"" a...",108,Drama|Mystery|Thriller,Fox Searchlight Pictures|Dune Entertainment|Pr...,12/2/2010,7.1,2010
1690,tt0413267,160000000,798958165,Shrek the Third,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Chris Miller|Raman Hui,Who's ready for Thirds?,The King of Far Far Away has died and Shrek an...,93,Fantasy|Adventure|Animation|Comedy|Family,DreamWorks Animation,5/17/2007,5.8,2007
582,tt0250224,13000000,16929123,Crazy/Beautiful,Kirsten Dunst|Jay Hernandez|Bruce Davison|Herm...,John Stockwell,When it's real. When it's right. Don't let any...,"At Pacific Palisades High, a poor Latino falls...",99,Drama|Romance,Touchstone Pictures|Ufland,6/29/2001,6.6,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']
data['date'] = data['release_date'].apply(lambda d: datetime.strptime(d, '%m/%d/%Y'))
data['date_int'] = data['date'].apply(lambda d: int(d.strftime("%Y%m%d")))
data['month'] = data['date'].apply(lambda d: d.month)


def unique_values(field):
    res = set()
    for gs in data[field].unique():
        for g in gs.split('|'):
            res.add(g)
    return list(res)

genres = unique_values('genres')
directors = unique_values('director')
artists = unique_values('cast')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# +
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data.loc[data.budget == 3.800000e+08] # 3.800000e+08 from data.describe()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,2011-05-11,20110511,5

ВАРИАНТ 2

In [7]:
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,2011-05-11,20110511,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# +
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data.loc[data.runtime == 214]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2003-02-21,20030221,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
# +
answers['3'] = 'Winnie the Pooh (tt1449283)'
data.loc[data.runtime == 63]
data.loc[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,2011-04-13,20110413,4

# 4. Какова средняя длительность фильмов?

In [11]:
# +
answers['4'] = '110'
data.runtime.mean()
#109.658549 from describe

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
# +
answers['5'] = '110'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = 'Avatar (tt0499549)'
data.loc[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,2009-12-10,20091210,12

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = 'The Lone Ranger (tt1210819)'
data.loc[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03,20130703,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = 1478
len(data.loc[data.profit >0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = 'The Dark Knight (tt0468569)'
max_2008 = data.loc[(data.date_int>=20080101) & (data.date_int<20090101)]['revenue'].max()
data.loc[ (data.revenue==max_2008 )]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,2008-07-16,20080716,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = 'The Lone Ranger (tt1210819)'
min_12_14 = data.loc[(data.date_int>=20120101) & (data.date_int<20150101)]['profit'].min()

data.loc[ (data.profit==min_12_14 )]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03,20130703,7

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11'] = 'Drama'

genres_count = pd.DataFrame(columns=['genre', 'count'])
for i, v in enumerate(genres):
    genres_count.loc[i]= [v, len(data.loc[data.genres.str.contains(v)])]

genres_count.loc[genres_count['count'] == genres_count['count'].max()]

    genre count
16  Drama   782

ВАРИАНТ 2

In [19]:
# really slow variant

# expanded genres table
egt = pd.DataFrame(columns=['genre'])
for i, v in data.iterrows():
    for k in v['genres'].split('|'):
         egt = egt.append({'genre': k }, ignore_index = True)
egt['genre'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genre, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = 'Drama'

genres_count = pd.DataFrame(columns=['genre', 'count'])
for i, v in enumerate(genres):
    genres_count.loc[i]= [v, len(data.loc[(data.profit > 0 ) & (data.genres.str.contains(v))])]

genres_count.loc[genres_count['count'] == genres_count['count'].max()]

    genre count
16  Drama   560

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [21]:
answers['13'] = 'Peter Jackson'
dir_total = pd.DataFrame(columns=['director', 'total'])

for i, director in enumerate(directors):
    dir_total.loc[i] = [director, data.loc[data.director.str.contains(director)]['revenue'].sum()]
dir_total.loc[dir_total['total'] == dir_total['total'].max()]

          director       total
288  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = 'Robert Rodriguez'
dir_total = pd.DataFrame(columns=['director', 'total'])

for i, director in enumerate(directors):
    dir_total.loc[i] = [director, len(data.loc[(data.genres.str.contains('Action')) & (data.director.str.contains(director))])]
    
dir_total.loc[dir_total['total'] == dir_total['total'].max()]

             director total
687  Robert Rodriguez     9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = 'Chris Hemsworth'
top20 = data.loc[data.release_year == 2012].sort_values(['revenue'], ascending=False).head(20)['cast']
all_actors = pd.DataFrame(columns=['actor'])

for actors in top20:
    for actor in actors.split('|'):
        all_actors = all_actors.append({'actor': actor}, ignore_index = True)
        
all_actors['actor'].value_counts().head(10)

Anne Hathaway        2
Charlize Theron      2
Emma Thompson        2
Chris Hemsworth      2
Kristen Stewart      2
Denis Leary          2
Sacha Baron Cohen    2
Kevin McKidd         1
Tommy Lee Jones      1
Billy Connolly       1
Name: actor, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = 'Matt Damon'
# What is high-budget film? Top 100 by budget? Films with budget greater than budget median???

# let's assume there are two types of films - low-budget films and high-budget films
median = data['budget'].median()

top = data.loc[( data.cast.str.contains('Tom Cruise|Mark Wahlberg|Matt Damon|Angelina Jolie|Adam Sandler')) & (data.budget > median) ].sort_values(['budget'], ascending=False)['cast']
all_actors = pd.DataFrame(columns=['actor'])

for actors in top:
    for actor in actors.split('|'):
        all_actors = all_actors.append({'actor': actor}, ignore_index = True)
        
all_actors['actor'].value_counts().head(5)

Matt Damon        22
Adam Sandler      19
Mark Wahlberg     18
Angelina Jolie    18
Tom Cruise        15
Name: actor, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = 'Action'
nk = data.loc[data.cast.str.contains('Nicolas Cage')]['genres']

nk_genres = pd.DataFrame(columns=['genre'])

for g in nk:
    for genre in g.split('|'):
        nk_genres = nk_genres.append({'genre': genre}, ignore_index = True)
        
nk_genres['genre'].value_counts().head(1)

Action    17
Name: genre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = 'K-19: The Widowmaker'
data.loc[data.production_companies.str.contains('Paramount Pictures')].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,2002-07-19,20020719,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] =  2015
data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'], ascending=False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] =  2014
data.loc[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])[['profit']].sum().\
sort_values(['profit'], ascending=False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] =  9 # September

data.groupby(['month']).count().sort_values('imdb_id', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date,date_int
month,,,,,,,,,,,,,,,,,
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] =  450

data.loc[(data.month < 9) & (data.month>5)].count().head(1)

imdb_id    450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] =  450

winter = data.loc[(data.month > 11) | (data.month <3)]


dir_total = pd.DataFrame(columns=['director', 'films'])

for i, director in enumerate(directors):
    dir_total.loc[i] = [director, len(winter.loc[winter.director.str.contains(director)])]

dir_total.loc[dir_total['films'] == dir_total['films'].max()]

          director films
288  Peter Jackson     7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] =  'Four By Two Productions'

data['title_length'] = data.original_title.apply(lambda t: len(t))

data.loc[data.title_length == data.title_length.max()]['production_companies'].values[0]

'Twentieth Century Fox Film Corporation|Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] =  'Midnight Picture Show'

import warnings
warnings.filterwarnings("ignore", 'This pattern has match groups')

data['overview_words'] = data.overview.apply(lambda t: len(t.split(' ')))

# unique values for production companies(pc)
pcs = unique_values('production_companies')


words_count = pd.DataFrame(columns=['pc', 'wc'])

for i, pc in enumerate(pcs):
    words_count.loc[i] = [pc, data.loc[data.production_companies.str.contains(pc)]['overview_words'].mean()]
    
words_count.loc[words_count.wc==words_count.wc.max()]

                        pc     wc
978  Midnight Picture Show  175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] =  'Inside Out, The Dark Knight, 12 Years a Slave'

top1p = int(len(data) * 0.01)

data.sort_values(['vote_average'], ascending=False).head(top1p)[['original_title','vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [38]:
answers['27'] = 'Daniel Radcliffe Rupert Grint'

h = {}



def build_key(name1, name2):
    l = [name1, name2]
    l.sort()
    return l[0]+' '+l[1]

def add(actor1, actor2):
    key = build_key(actor1, actor2)
    v = h.get(key,0)
    h[key] = v+1

for row in data['cast']:
    #print(row)
    actors  = row.split('|')
    l = len(actors)
    for i in range(l-1):
        for j in range(l-i-1):
            add(actors[i], actors[j+i+1])
            #print(actors[i], actors[j+i+1])
a = sorted(h.items(), key=lambda x: x[1], reverse=True)  

dict(a)

{'Daniel Radcliffe Rupert Grint': 8,
 'Daniel Radcliffe Emma Watson': 8,
 'Emma Watson Rupert Grint': 8,
 'Ben Stiller Owen Wilson': 6,
 'Helena Bonham Carter Johnny Depp': 6,
 'Paul Walker Vin Diesel': 5,
 'Adam Sandler Kevin James': 5,
 'Hugh Jackman Ian McKellen': 5,
 'Kristen Stewart Robert Pattinson': 5,
 'Kristen Stewart Taylor Lautner': 5,
 'Robert Pattinson Taylor Lautner': 5,
 'Chris Evans Scarlett Johansson': 4,
 'Jennifer Lawrence Josh Hutcherson': 4,
 'Jennifer Lawrence Liam Hemsworth': 4,
 'Jennifer Lawrence Woody Harrelson': 4,
 'Josh Hutcherson Liam Hemsworth': 4,
 'Josh Hutcherson Woody Harrelson': 4,
 'Liam Hemsworth Woody Harrelson': 4,
 'Hugh Jackman Patrick Stewart': 4,
 'Ian McKellen Patrick Stewart': 4,
 'George Clooney Matt Damon': 4,
 'Bradley Cooper Justin Bartha': 4,
 'Costas Mandylor Tobin Bell': 4,
 'Betsy Russell Tobin Bell': 4,
 'Betsy Russell Costas Mandylor': 4,
 'Jordana Brewster Vin Diesel': 4,
 'Jordana Brewster Paul Walker': 4,
 'Eddie Murphy Mike Myers': 4,
 'Cameron Diaz Mike Myers': 4,
 'Cameron Diaz Eddie Murphy': 4,
 'Kristen Stewart Peter Facinelli': 4,
 'Peter Facinelli Robert Pattinson': 4,
 'Peter Facinelli Taylor Lautner': 4,
 'Paul Rudd Steve Carell': 4,
 'Brad Pitt George Clooney': 4,
 'Brad Pitt Julia Roberts': 4,
 'Halle Berry Hugh Jackman': 4,
 'Christian Bale Michael Caine': 4,
 'Michelle Rodriguez Vin Diesel': 3,
 'Dwayne Johnson Vin Diesel': 3,
 'Michelle Rodriguez Paul Walker': 3,
 'Dwayne Johnson Paul Walker': 3,
 'Mark Ruffalo Robert Downey Jr.': 3,
 'Robert Downey Jr. Scarlett Johansson': 3,
 'Liam Neeson Maggie Grace': 3,
 'Famke Janssen Liam Neeson': 3,
 'Famke Janssen Maggie Grace': 3,
 'Elizabeth Banks Jennifer Lawrence': 3,
 'Elizabeth Banks Josh Hutcherson': 3,
 'Elizabeth Banks Liam Hemsworth': 3,
 'Elizabeth Banks Woody Harrelson': 3,
 'Tom Cruise Ving Rhames': 3,
 'Giovanni Ribisi Mark Wahlberg': 3,
 'Johnny Depp Paul Bettany': 3,
 'Adam Sandler Steve Buscemi': 3,
 'Ian McKellen Martin Freeman': 3,
 'Martin Freeman Richard Armitage': 3,
 'Ian McKellen Richard Armitage': 3,
 'Ben Stiller Robin Williams': 3,
 'Jason Bateman Jennifer Aniston': 3,
 'James Franco Seth Rogen': 3,
 'Jay Baruchel Jonah Hill': 3,
 'Jason Statham Sylvester Stallone': 3,
 'Arnold Schwarzenegger Sylvester Stallone': 3,
 'Jennifer Connelly Russell Crowe': 3,
 'Ashley Judd Morgan Freeman': 3,
 'Bradley Cooper Ed Helms': 3,
 'Bradley Cooper Zach Galifianakis': 3,
 'Ed Helms Zach Galifianakis': 3,
 'Ed Helms Justin Bartha': 3,
 'Justin Bartha Zach Galifianakis': 3,
 'Ashley Greene Kristen Stewart': 3,
 'Ashley Greene Robert Pattinson': 3,
 'Ashley Greene Taylor Lautner': 3,
 'Paul Rudd Seth Rogen': 3,
 'Bradley Cooper Ken Jeong': 3,
 'David Cross Jason Lee': 3,
 'David Cross Justin Long': 3,
 'Jason Lee Justin Long': 3,
 'Jason Segel Paul Rudd': 3,
 'Josh Duhamel Shia LaBeouf': 3,
 'Jonah Hill Seth Rogen': 3,
 'Gwyneth Paltrow Robert Downey Jr.': 3,
 'Daniel Radcliffe Ralph Fiennes': 3,
 'Emma Watson Ralph Fiennes': 3,
 'Ralph Fiennes Rupert Grint': 3,
 'Georgie Henley Skandar Keynes': 3,
 'Ben Stiller Robert De Niro': 3,
 'Antonio Banderas Mike Myers': 3,
 'Julie Andrews Mike Myers': 3,
 'Antonio Banderas Eddie Murphy': 3,
 'Eddie Murphy Julie Andrews': 3,
 'Antonio Banderas Cameron Diaz': 3,
 'Cameron Diaz Julie Andrews': 3,
 'Antonio Banderas Julie Andrews': 3,
 'Emily Blunt Jason Segel': 3,
 'Steve Zahn Zachary Gordon': 3,
 'Rachael Harris Zachary Gordon': 3,
 'Rachael Harris Steve Zahn': 3,
 'Elijah Wood Ian McKellen': 3,
 'Elijah Wood Viggo Mortensen': 3,
 'Elijah Wood Liv Tyler': 3,
 'Elijah Wood Orlando Bloom': 3,
 'Ian McKellen Viggo Mortensen': 3,
 'Ian McKellen Liv Tyler': 3,
 'Ian McKellen Orlando Bloom': 3,
 'Liv Tyler Viggo Mortensen': 3,
 'Orlando Bloom Viggo Mortensen': 3,
 'Liv Tyler Orlando Bloom': 3,
 'Jason Biggs Thomas Ian Nicholas': 3,
 'Jason Biggs Seann William Scott': 3,
 'Seann William Scott Thomas Ian Nicholas': 3,
 'Marlon Wayans Shawn Wayans': 3,
 'Alexa PenaVega Daryl Sabara': 3,
 'Alexa PenaVega Antonio Banderas': 3,
 'Alexa PenaVega Carla Gugino': 3,
 'Antonio Banderas Daryl Sabara': 3,
 'Carla Gugino Daryl Sabara': 3,
 'Antonio Banderas Carla Gugino': 3,
 'Christian Bale Gary Oldman': 3,
 'Gary Oldman Michael Caine': 3,
 'Daniel Craig Judi Dench': 3,
 'Angelina Jolie Jack Black': 3,
 'Ben Stiller David Schwimmer': 3,
 'Ben Stiller Chris Rock': 3,
 'Chris Rock David Schwimmer': 3,
 'John Hurt Ron Perlman': 3,
 'Hayden Christensen Samuel L. Jackson': 3,
 'FranÃ§ois BerlÃ©and Jason Statham': 3,
 'Danny McBride James Franco': 3,
 'John Cho Kal Penn': 3,
 'John Cho Neil Patrick Harris': 3,
 'Kal Penn Neil Patrick Harris': 3,
 'Amy Adams Philip Seymour Hoffman': 3,
 'Geoffrey Rush Johnny Depp': 3,
 'Bill Nighy Johnny Depp': 3,
 'Jude Law Kate Winslet': 3,
 'John Leguizamo Ray Romano': 3,
 'Denis Leary Ray Romano': 3,
 'Denis Leary John Leguizamo': 3,
 'Kirsten Dunst Tobey Maguire': 3,
 'James Franco Tobey Maguire': 3,
 'James Franco Kirsten Dunst': 3,
 'Spencer Breslin Tim Allen': 3,
 'Denzel Washington Kimberly Elise': 3,
 'Ice Cube Mike Epps': 3,
 'Johnny Depp Orlando Bloom': 3,
 'Johnny Depp Keira Knightley': 3,
 'Keira Knightley Orlando Bloom': 3,
 'Halle Berry Patrick Stewart': 3,
 'Famke Janssen Patrick Stewart': 3,
 'Famke Janssen Hugh Jackman': 3,
 'Halle Berry Ian McKellen': 3,
 'Famke Janssen Ian McKellen': 3,
 'Famke Janssen Halle Berry': 3,
 'Owen Wilson Vince Vaughn': 3,
 'Bruce Willis Kevin Pollak': 3,
 'Shailene Woodley Theo James': 2,
 'Kate Winslet Shailene Woodley': 2,
 'Ansel Elgort Shailene Woodley': 2,
 'Miles Teller Shailene Woodley': 2,
 'Kate Winslet Theo James': 2,
 'Miles Teller Theo James': 2,
 'Kate Winslet Miles Teller': 2,
 'Leonardo DiCaprio Tom Hardy': 2,
 'Daniel Craig Ralph Fiennes': 2,
 'Chris Hemsworth Robert Downey Jr.': 2,
 'Chris Evans Robert Downey Jr.': 2,
 'Chris Hemsworth Mark Ruffalo': 2,
 'Chris Evans Chris Hemsworth': 2,
 'Chris Hemsworth Scarlett Johansson': 2,
 'Chris Evans Mark Ruffalo': 2,
 'Mark Ruffalo Scarlett Johansson': 2,
 'Carla Gugino Dwayne Johnson': 2,
 'Christian Bale Melissa Leo': 2,
 'Ryan Gosling Steve Carell': 2,
 'Jeremy Renner Tom Cruise': 2,
 'Simon Pegg Tom Cruise': 2,
 'Jeremy Renner Simon Pegg': 2,
 'Mark Wahlberg Seth MacFarlane': 2,
 'Giovanni Ribisi Seth MacFarlane': 2,
 "Dylan O'Brien Kaya Scodelario": 2,
 'Anna Kendrick Rebel Wilson': 2,
 'Anna Kendrick Brittany Snow': 2,
 'Anna Kendrick Skylar Astin': 2,
 'Brittany Snow Rebel Wilson': 2,
 'Rebel Wilson Skylar Astin': 2,
 'Brittany Snow Skylar Astin': 2,
 'Boyd Holbrook Liam Neeson': 2,
 'Jim Parsons Steve Martin': 2,
 'Rene Russo Robert De Niro': 2,
 'Delroy Lindo Edgar RamÃ\xadrez': 2,
 'Bradley Cooper Sienna Miller': 2,
 'Michael B. Jordan Miles Teller': 2,
 'Bobby Cannavale Rose Byrne': 2,
 'Ben Whishaw Brendan Gleeson': 2,
 'Amanda Seyfried Hugh Jackman': 2,
 'Joseph Gordon-Levitt Seth Rogen': 2,
 'Lizzy Caplan Seth Rogen': 2,
 'Adam Sandler Andy Samberg': 2,
 'Adam Sandler Selena Gomez': 2,
 'Kevin James Selena Gomez': 2,
 'Selena Gomez Steve Buscemi': 2,
 'Kevin James Steve Buscemi': 2,
 'Alan Arkin John Goodman': 2,
 'Gary Oldman Tom Hardy': 2,
 'Gary Oldman Joel Kinnaman': 2,
 'Mark Wahlberg Will Ferrell': 2,
 'Kevin James Raini Rodriguez': 2,
 'Amy Poehler Tina Fey': 2,
 'Jessica Chastain Mia Wasikowska': 2,
 'Bill Fagerbakke Tom Kenny': 2,
 'Rodger Bumpass Tom Kenny': 2,
 'Clancy Brown Tom Kenny': 2,
 'Carolyn Lawrence Tom Kenny': 2,
 'Bill Fagerbakke Rodger Bumpass': 2,
 'Bill Fagerbakke Clancy Brown': 2,
 'Bill Fagerbakke Carolyn Lawrence': 2,
 'Clancy Brown Rodger Bumpass': 2,
 'Carolyn Lawrence Rodger Bumpass': 2,
 'Carolyn Lawrence Clancy Brown': 2,
 'Morris Chestnut Sanaa Lathan': 2,
 'Bill Murray Bruce Willis': 2,
 'Anne Hathaway Michael Caine': 2,
 'Bradley Cooper Zoe Saldana': 2,
 'Chris Evans Sebastian Stan': 2,
 'Samuel L. Jackson Scarlett Johansson': 2,
 'Ken Stott Martin Freeman': 2,
 'Graham McTavish Martin Freeman': 2,
 'Ian McKellen Ken Stott': 2,
 'Graham McTavish Ian McKellen': 2,
 'Ken Stott Richard Armitage': 2,
 'Graham McTavish Richard Armitage': 2,
 'Graham McTavish Ken Stott': 2,
 'Owen Wilson Robin Williams': 2,
 'James McAvoy Patrick Stewart': 2,
 'James McAvoy Michael Fassbender': 2,
 'Megan Fox Will Arnett': 2,
 'Cameron Diaz Jason Segel': 2,
 'Mark Wahlberg Stanley Tucci': 2,
 'Andy Serkis Judy Greer': 2,
 'Jason Bateman Jason Sudeikis': 2,
 'Charlie Day Jason Bateman': 2,
 'Charlie Day Jason Sudeikis': 2,
 'Jason Sudeikis Jennifer Aniston': 2,
 'Charlie Day Jennifer Aniston': 2,
 'Andrew Garfield Emma Stone': 2,
 'James Franco Lizzy Caplan': 2,
 'Gerard Butler Jay Baruchel': 2,
 'Gerard Butler Jonah Hill': 2,
 'Arnold Schwarzenegger Jason Statham': 2,
 'Emily Blunt Meryl Streep': 2,
 'David Wenham Lena Headey': 2,
 'Channing Tatum Jonah Hill': 2,
 'Dave Franco Jonah Hill': 2,
 'Channing Tatum Dave Franco': 2,
 'Ben Whishaw Michael Gambon': 2,
 'Logan Lerman Russell Crowe': 2,
 'Emma Watson Logan Lerman': 2,
 'Adam Sandler Drew Barrymore': 2,
 'Dave Franco Zac Efron': 2,
 'Ryan Guzman Stephen Boss': 2,
 'Joaquin Phoenix Reese Witherspoon': 2,
 'Owen Wilson Reese Witherspoon': 2,
 'Julianne Moore Liam Neeson': 2,
 'Jessica Alba Josh Brolin': 2,
 'Jessica Alba Rosario Dawson': 2,
 'Anne Hathaway Jesse Eisenberg': 2,
 'Jesse Eisenberg Leslie Mann': 2,
 'Anne Hathaway Leslie Mann': 2,
 'Cate Blanchett George Clooney': 2,
 'Bill Murray Cate Blanchett': 2,
 'Bill Murray George Clooney': 2,
 'George Clooney John Goodman': 2,
 'Carrie-Anne Moss Kit Harington': 2,
 'Channing Tatum Sienna Miller': 2,
 'Imogen Poots Zac Efron': 2,
 'Kevin Hart Michael Ealy': 2,
 'Kevin Hart Regina Hall': 2,
 'Michael Ealy Regina Hall': 2,
 'Morgan Freeman Nathan Gamble': 2,
 'Harry Connick Jr. Morgan Freeman': 2,
 'Ashley Judd Nathan Gamble': 2,
 'Ashley Judd Harry Connick Jr.': 2,
 'Harry Connick Jr. Nathan Gamble': 2,
 'Bill Nighy Michael Sheen': 2,
 'Bill Nighy Shane Brolly': 2,
 'Michael Sheen Shane Brolly': 2,
 'Chris Pine Zachary Quinto': 2,
 'Jude Law Robert Downey Jr.': 2,
 'Amanda Peet John Cusack': 2,
 'Jennifer Connelly John C. Reilly': 2,
 'Christopher Plummer Jennifer Connelly': 2,
 'Jesse Eisenberg Woody Harrelson': 2,
 'Billy Burke Kristen Stewart': 2,
 'Billy Burke Robert Pattinson': 2,
 'Billy Burke Taylor Lautner': 2,
 'Anna Faris Bill Hader': 2,
 'Bill Hader James Caan': 2,
 'Anna Faris James Caan': 2,
 'Stanley Tucci Susan Sarandon': 2,
 'Amy Smart Jason Statham': 2,
 'Dwight Yoakam Jason Statham': 2,
 'Efren Ramirez Jason Statham': 2,
 'Amy Smart Dwight Yoakam': 2,
 'Amy Smart Efren Ramirez': 2,
 'Dwight Yoakam Efren Ramirez': 2,
 'Jon Favreau Vince Vaughn': 2,
 'Jason Bateman Jon Favreau': 2,
 'Charlize Theron Guy Pearce': 2,
 'Paul Rudd Reese Witherspoon': 2,
 'Amy Adams Meryl Streep': 2,
 'Meryl Streep Stanley Tucci': 2,
 'Giovanni Ribisi Johnny Depp': 2,
 'Billy Crudup Marion Cotillard': 2,
 'Ben Affleck Jason Bateman': 2,
 'Matt Damon Scott Bakula': 2,
 'Emma Thompson Rhys Ifans': 2,
 'Mark Rolston Tobin Bell': 2,
 'Costas Mandylor Mark Rolston': 2,
 'Betsy Russell Mark Rolston': 2,
 'Megan Fox Shia LaBeouf': 2,
 'Shia LaBeouf Tyrese Gibson': 2,
 'Josh Duhamel Megan Fox': 2,
 'Megan Fox Tyrese Gibson': 2,
 'Josh Duhamel Tyrese Gibson': 2,
 'Jeff Bridges Kevin Spacey': 2,
 'Dwayne Johnson Seann William Scott': 2,
 'Justin Long Matt Dillon': 2,
 'Eva Mendes Nicolas Cage': 2,
 'Leslie Mann Seth Rogen': 2,
 'Armin Mueller-Stahl Naomi Watts': 2,
 'Jordana Brewster Michelle Rodriguez': 2,
 'Scout Taylor-Compton Tyler Mane': 2,
 'Brad Dourif Scout Taylor-Compton': 2,
 'Brad Dourif Tyler Mane': 2,
 'Clive Owen Julia Roberts': 2,
 'Clive Owen Paul Giamatti': 2,
 'Julia Roberts Paul Giamatti': 2,
 'Jason Bateman Kristen Wiig': 2,
 'Jamie Foxx Robert Downey Jr.': 2,
 'Emily Mortimer Michael Caine': 2,
 'Danny Huston Lynn Collins': 2,
 'Don Cheadle Robert Downey Jr.': 2,
 'Don Cheadle Gwyneth Paltrow': 2,
 'Helena Bonham Carter Ralph Fiennes': 2,
 'Russell Brand Steve Carell': 2,
 'Steve Carell Will Arnett': 2,
 'Jason Segel Russell Brand': 2,
 'Dolph Lundgren Sylvester Stallone': 2,
 'Dolph Lundgren Jason Statham': 2,
 'Mark Strong Russell Crowe': 2,
 'Liam Neeson Sam Worthington': 2,
 'Ralph Fiennes Sam Worthington': 2,
 'Liam Neeson Ralph Fiennes': 2,
 'Owen Wilson Robert De Niro': 2,
 'Dustin Hoffman Robert De Niro': 2,
 'Barbra Streisand Robert De Niro': 2,
 'Ben Stiller Dustin Hoffman': 2,
 'Barbra Streisand Ben Stiller': 2,
 'Barbra Streisand Dustin Hoffman': 2,
 'Brandon T. Jackson Logan Lerman': 2,
 'Alexandra Daddario Logan Lerman': 2,
 'Alexandra Daddario Brandon T. Jackson': 2,
 'Channing Tatum Richard Jenkins': 2,
 'Bradley Cooper Jessica Biel': 2,
 'Danny Trejo Michelle Rodriguez': 2,
 'Adam Sandler Salma Hayek': 2,
 'Ashley Greene Peter Facinelli': 2,
 'Brad Pitt Jonah Hill': 2,
 'Eva Mendes Mark Wahlberg': 2,
 'Dwayne Johnson Mark Wahlberg': 2,
 'Eva Mendes Samuel L. Jackson': 2,
 'Helena Bonham Carter Timothy Spall': 2,
 'Anne Hathaway Jake Gyllenhaal': 2,
 'Cameron Diaz Tom Cruise': 2,
 'Greg Kinnear Matt Damon': 2,
 'Amanda Peet Jack Black': 2,
 'Amy Adams Christian Bale': 2,
 'Ashton Kutcher Katherine Heigl': 2,
 'Kristin Davis Sarah Jessica Parker': 2,
 'Cynthia Nixon Sarah Jessica Parker': 2,
 'Kim Cattrall Sarah Jessica Parker': 2,
 'Chris Noth Sarah Jessica Parker': 2,
 'Cynthia Nixon Kristin Davis': 2,
 'Kim Cattrall Kristin Davis': 2,
 'Chris Noth Kristin Davis': 2,
 'Cynthia Nixon Kim Cattrall': 2,
 'Chris Noth Cynthia Nixon': 2,
 'Chris Noth Kim Cattrall': 2,
 'Emma Thompson Maggie Gyllenhaal': 2,
 'Edward Norton Robert De Niro': 2,
 'Robert Capron Zachary Gordon': 2,
 'Robert Capron Steve Zahn': 2,
 'Rachael Harris Robert Capron': 2,
 'Naomi Watts Sean Penn': 2,
 'Kristen Wiig Maya Rudolph': 2,
 'Andy Serkis Simon Pegg': 2,
 'Janet Jackson Tyler Perry': 2,
 'Jill Scott Tyler Perry': 2,
 'Malik Yoba Tyler Perry': 2,
 'Janet Jackson Jill Scott': 2,
 'Janet Jackson Malik Yoba': 2,
 'Jill Scott Malik Yoba': 2,
 'Ali Larter Milla Jovovich': 2,
 'Billy Crystal John Goodman': 2,
 'John Goodman Steve Buscemi': 2,
 'Billy Crystal Steve Buscemi': 2,
 'Colin Firth RenÃ©e Zellweger': 2,
 'Hugh Grant RenÃ©e Zellweger': 2,
 'Gemma Jones RenÃ©e Zellweger': 2,
 'Jim Broadbent RenÃ©e Zellweger': 2,
 'Colin Firth Hugh Grant': 2,
 'Colin Firth Gemma Jones': 2,
 'Colin Firth Jim Broadbent': 2,
 'Gemma Jones Hugh Grant': 2,
 'Hugh Grant Jim Broadbent': 2,
 'Gemma Jones Jim Broadbent': 2,
 'Andy GarcÃ\xada George Clooney': 2,
 'George Clooney Julia Roberts': 2,
 'Brad Pitt Matt Damon': 2,
 'Andy GarcÃ\xada Brad Pitt': 2,
 'Andy GarcÃ\xada Julia Roberts': 2,
 'Brendan Fraser John Hannah': 2,
 'Angelina Jolie Noah Taylor': 2,
 'Paul Bettany Russell Crowe': 2,
 'Chris Klein Jason Biggs': 2,
 'Eddie Kaye Thomas Jason Biggs': 2,
 'Chris Klein Thomas Ian Nicholas': 2,
 'Eddie Kaye Thomas Thomas Ian Nicholas': 2,
 'Chris Klein Seann William Scott': 2,
 'Eddie Kaye Thomas Seann William Scott': 2,
 'Anne Hathaway Julie Andrews': 2,
 'Anne Hathaway Heather Matarazzo': 2,
 'Anne Hathaway HÃ©ctor Elizondo': 2,
 'Heather Matarazzo Julie Andrews': 2,
 'HÃ©ctor Elizondo Julie Andrews': 2,
 'Heather Matarazzo HÃ©ctor Elizondo': 2,
 'Ewan McGregor Jim Broadbent': 2,
 'Johnny Depp PenÃ©lope Cruz': 2,
 'Jude Law Rachel Weisz': 2,
 'Heath Ledger Shannyn Sossamon': 2,
 'Ben Stiller Christine Taylor': 2,
 'Chris Tucker Jackie Chan': 2,
 'Jason Mewes Kevin Smith': 2,
 'Jeff Anderson Kevin Smith': 2,
 "Brian O'Halloran Kevin Smith": 2,
 'Jason Mewes Jeff Anderson': 2,
 "Brian O'Halloran Jason Mewes": 2,
 "Brian O'Halloran Jeff Anderson": 2,
 'Cameron Diaz PenÃ©lope Cruz': 2,
 'Breckin Meyer Seth Green': 2,
 'Amy Smart Breckin Meyer': 2,
 'Brad Pitt James Gandolfini': 2,
 'Bill Paxton Matthew McConaughey': 2,
 'Anthony Hopkins Hope Davis': 2,
 'Charlize Theron Robert De Niro': 2,
 'DMX Isaiah Washington': 2,
 'Anthony Anderson DMX': 2,
 'Anna Maria Horsford Mike Epps': 2,
 'Amanda Detmer Jason Biggs': 2,
 'John Travolta Vince Vaughn': 2,
 'Freddie Prinze Jr. Matthew Lillard': 2,
 'Cary Elwes Joanna Lumley': 2,
 'Dustin Hoffman Jack Black': 2,
 'Jack Black Jackie Chan': 2,
 'Angelina Jolie Dustin Hoffman': 2,
 'Dustin Hoffman Jackie Chan': 2,
 'Angelina Jolie Jackie Chan': 2,
 'Colin Firth Stellan SkarsgÃ¥rd': 2,
 'Brad Pitt Cate Blanchett': 2,
 'Brad Pitt Tilda Swinton': 2,
 'Ben Stiller Jada Pinkett Smith': 2,
 'David Schwimmer Jada Pinkett Smith': 2,
 'Chris Rock Jada Pinkett Smith': 2,
 'Ron Perlman Selma Blair': 2,
 'Jeffrey Tambor Ron Perlman': 2,
 'Jeffrey Tambor Selma Blair': 2,
 'John Hurt Selma Blair': 2,
 'Jeffrey Tambor John Hurt': 2,
 'Charlize Theron Will Smith': 2,
 'Anna Popplewell William Moseley': 2,
 'Skandar Keynes William Moseley': 2,
 'Georgie Henley William Moseley': 2,
 'Anna Popplewell Skandar Keynes': 2,
 'Anna Popplewell Georgie Henley': 2,
 'David Wenham Hugh Jackman': 2,
 'George Clooney Tilda Swinton': 2,
 'George Clooney Richard Jenkins': 2,
 'John C. Reilly Will Ferrell': 2,
 'Mary Steenburgen Will Ferrell': 2,
 'Kate Hudson Matthew McConaughey': 2,
 'Danny McBride Seth Rogen': 2,
 'Mark Wahlberg Mila Kunis': 2,
 'Sigourney Weaver William Hurt': 2,
 'Elizabeth Banks Paul Rudd': 2,
 'Angelina Jolie John Malkovich': 2,
 'Scott Patterson Tobin Bell': 2,
 'Costas Mandylor Scott Patterson': 2,
 'Betsy Russell Scott Patterson': 2,
 'Javier Bardem PenÃ©lope Cruz': 2,
 'Jim Carrey Steve Carell': 2,
 'Seth Rogen Steve Carell': 2,
 'Carla Gugino Robert De Niro': 2,
 'Adam Sandler John Turturro': 2,
 'Daniel Craig Jamie Bell': 2,
 'Josh Brolin Sean Penn': 2,
 'Cheryl Hines Jeff Daniels': 2,
 'Kerry Washington Samuel L. Jackson': 2,
 'Bruce Willis Robin Wright': 2,
 'Chris Hemsworth Natalie Portman': 2,
 'Chris Hemsworth Tom Hiddleston': 2,
 'Anthony Hopkins Chris Hemsworth': 2,
 'Natalie Portman Tom Hiddleston': 2,
 'Anthony Hopkins Natalie Portman': 2,
 'Anthony Hopkins Tom Hiddleston': 2,
 'Emma Stone Ryan Gosling': 2,
 'Marisa Tomei Ryan Gosling': 2,
 'Bradley Cooper Robert De Niro': 2,
 'Colin Farrell Jason Sudeikis': 2,
 'Larry the Cable Guy Owen Wilson': 2,
 'Ed Helms Ken Jeong': 2,
 'Ken Jeong Zach Galifianakis': 2,
 'Justin Bartha Ken Jeong': 2,
 'Nick Frost Simon Pegg': 2,
 'Alfred Molina Johnny Depp': 2,
 'Asa Butterfield Ben Kingsley': 2,
 'Matthew McConaughey William H. Macy': 2,
 'Jim Cummings Travis Oates': 2,
 'Bud Luckey Jim Cummings': 2,
 'Craig Ferguson Jim Cummings': 2,
 'Julia Roberts Tom Hanks': 2,
 'Antonio Banderas Salma Hayek': 2,
 'Gwyneth Paltrow Jude Law': 2,
 'Katherine Heigl Robert De Niro': 2,
 'Johnny A. Sanchez Robin Williams': 2,
 'David Arquette Neve Campbell': 2,
 'Courteney Cox David Arquette': 2,
 'Courteney Cox Neve Campbell': 2,
 'Devon Bostick Zachary Gordon': 2,
 'Devon Bostick Rachael Harris': 2,
 'Devon Bostick Steve Zahn': 2,
 'Bill Nighy Judi Dench': 2,
 'Hank Azaria Neil Patrick Harris': 2,
 'Cate Blanchett Tom Hollander': 2,
 'James McAvoy Maggie Smith': 2,
 'James McAvoy Julie Walters': 2,
 'Julie Walters Maggie Smith': 2,
 'Marisa Tomei Philip Seymour Hoffman': 2,
 'Katie Featherston Sprague Grayden': 2,
 'Viggo Mortensen Vincent Cassel': 2,
 'Glenn Close Patrick Warburton': 2,
 'Paul Walker Tyrese Gibson': 2,
 'Dwayne Johnson Jordana Brewster': 2,
 'Jordana Brewster Tyrese Gibson': 2,
 'Franka Potente Matt Damon': 2,
 'Chris Cooper Matt Damon': 2,
 'Brian Cox Matt Damon': 2,
 'Brian Cox Franka Potente': 2,
 'Michelle Rodriguez Milla Jovovich': 2,
 'Ewan McGregor Natalie Portman': 2,
 'Ewan McGregor Hayden Christensen': 2,
 'Ewan McGregor Ian McDiarmid': 2,
 'Ewan McGregor Samuel L. Jackson': 2,
 'Hayden Christensen Natalie Portman': 2,
 'Ian McDiarmid Natalie Portman': 2,
 'Natalie Portman Samuel L. Jackson': 2,
 'Hayden Christensen Ian McDiarmid': 2,
 'Ian McDiarmid Samuel L. Jackson': 2,
 'Leonardo DiCaprio Martin Sheen': 2,
 'Amy Adams Tom Hanks': 2,
 'Tommy Lee Jones Will Smith': 2,
 'Adrien Brody Thomas Kretschmann': 2,

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '110',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 450,
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Daniel Radcliffe Rupert Grint',
 '27': 'Daniel Radcliffe Rupert Grint'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27